@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 10;
    padding: 10;
    font-family: 'Crimson Pro', serif;
}

nav {
text-transform: uppercase;
}

h1 {
    font-size: 3.5rem;
    letter-spacing: -0.02rem;
}

h2 {

}

h3 {

}

h4{
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: grey;
}

h4, p {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 200;
}

span, a:hover {
   color: #e65f2e;
}


li {
    list-style: none;
}


a {
    text-transform: lowercase;
}
